.synonym-list {
  list-style: none;
  padding-left: 0;
}
.synonym-list li {
  display: inline;
  border: rgba(0, 0, 0, 0.8) 1px solid;
  padding: 10px;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 14px;
}
